*{
    margin: 0;
    padding: 0;
}
.main-container{
    background-image: url('../images/serving-wedding-table-vintage-style\ 1\ \(2\).png');
   
}
.navbar-brand{

    margin-left: 20px;

}
.navbar-nav li a{
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;

}
.navbar-nav li a:active{
    color: #fff;
 
}
.btnViewCart{
    width: 160px;
    height: 30px;
    color: #fff;
    background-color: #CC9933;
    border: none;
}
h1{

    width: 343px;
    height: 71px;
    font-family: 'montserrat',sans-serif;
    font-size: 58px;
    margin-top: 150px;
    color: #ffffff !important;

}
.card-2{

    width: 100%;
    height: 430px;
    background-color: #f3c2b3 !important;
    margin-top: 50px;

}
.row{

    display: flex;

}
.col{

    width: 1028px;
    height: 446px;
    border-radius: 5px;


}
.seaction-2 h5{

    width: 592px;
    height: 96px;
    font-family: 'montserrat',sans-serif;
    font-size: 37px;
    color: #000000;
    margin-top: 30px;

}
.seaction-2 p{

    width: 617px;
    height: 180px;
    font-family: 'montserrat',sans-serif;
    font-size: 23px;
    color: #000000;
   

}
.col-img{

   
    height: 345px;
    margin-top: 25px;
}
.row{

    display: flex;
    

}
.col{

    width: 1174px;
    height: 362px;
    padding-top: 30px;

}
.card-img-top{

   width: 70px;
   height: 70px;
    margin-top: 10px;

}
.seaction-3 h5{

    width: 185px;
    height: 22px;
    text-align: center;

}
.seaction-3 p{

    width: 216px;
    height: 136px;
    font-family: 'montserrat',sans-serif;
    font-size: 10px;
    text-align: center;

}
.seaction-4{

    margin-top: 200px;
    
}
.seaction-4{
    margin: 0 auto;
    display: block;
    background-color: #ffeecb;

}
.seaction-4 h2{
    text-align: center;
    font-family: 'montserrat',sans-serif;
    font-size: 37px;
}
.seaction-4 p{
    text-align: center;

}
.card-3{

   width: 449px;
   height: 390px;
   background-color: #ffffff;
   margin-left: 150px;
   
}
.img-top{

    width: 250px;
    height: 350px;

}
h5{

    text-align: center;
    font-size: 25px;
    font-family: 'montserrat',sans-serif;

}

@media (max-width:375px){

    .main-container{

        width: 375px;   
        height: 375px;
    }
    .h1 {

        margin: 20px;
    }
    .row{

        flex-direction: column;

    }
    .col{

        width: 375px;
        height: 446px;
      

    }
    .card{

       width: 250px;
       margin-top: 130px;
       margin-left: 60px;
       padding-top: -220px;
    }
    .h5{

        width: 395px;
        height: 96px;
        font-size: 29px;
       
    }
    .card-text{

        font-size: 14px;
        color: #000000 !important;

    }
    .col-img{

        width: 375px;
        height: 275px;
        
    }
    .img-top{

        margin-left: -150px;
    }
}